<form class="container flex">

    <h3 class="form-heading">Entertainment Event Ticket Search</h3>
    <div class="form-group row justify-content-left required mt-5">
        <label for="" class="col-sm-2 offset-sm-2">Keyword</label>
        <div class="col-sm-8">
            <input id="keyword" type="text" class="form-control" placeholder="Enter Artist, Team or Event Name (eg. Lakers)"/>
        </div>
    </div>

    <div class="form-group row justify-content-left">
        <label for="category" class="col-sm-2 offset-sm-2">Category</label>
        <div class="col-sm-3">
        <select class="form-control" id="category">
          <option>All</option>
          <option>Music</option>
          <option>Sports</option>
          <option>Arts & Theatre</option>
          <option>Film</option>
          <option>Miscellaneous</option>
        </select>
      </div>
      </div>
    <div class="form-group row justify-content-left">
        <label for="distance" class="col-sm-2 offset-sm-2">Distance</label>
        <div class="col-sm-3 ">
        <input type="text" class="form-control" pattern="-[0-9]+" placeholder="10"/>
        </div>
        <div class="col-sm-3">
        <select class="form-control col-md-auto" id="dtype">
            <option>Miles</option>
            <option>Kilo meters</option>
        </select>
    </div>    
    </div>

    <div class="form-group row">
        <label for ="from" class="col-sm-2 offset-sm-2">From</label>
        <div class="col-sm-8">
        
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="here" id="here" value="">
                    <label class="form-check-label offset-sm-2" for="current_loc">
                    Current Location
                    </label>
                </div>
            </div>
              <div class="form-check">
                    <div class="col-sm-5">
                        <input class="form-check-input" type="radio" name="location-check" id="location-check" value="">
                        <label class="form-check-label offset-sm-2" for="location-ckeck">
                        Others, Please specify location
                        </label>
                    </div>
                </div>
              <div class="form-group col-sm-auto">
                  <input class="form-control" type="text" disabled id="location"/>
              </div>
        
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-1 offset-sm-2">
    <button type="submit" class="btn btn-primary btm-sm-4">Search</button>
    </div>
    <div class="col-sm-1">
    <button type="reset" class="btn btn-light btn-sm-3">Clear</button>
    </div>
</div>

</form>
