<div class="container">


  <form class="container bg-light"#ticketForm="ngForm" (ngSubmit)="onSubmit(ticketForm)">
    <h2 class="text-center"> Entertainment and Event Search</h2>
      <div class="form-group row justify-content-left required">
          <label for="keyword" class="control-label col-sm-2 offset-sm-2">Keyword</label>
          <div class="col-sm-6">
              <input #keywordc="ngModel" type="text" name="keyword" class="form-control"
               placeholder="Enter Artist, Team or Event Name (eg. Lakers)" id="Keyword" 
               [(ngModel)]="keyword" required />
          <div *ngIf="keywordc.invalid && ((keywordc.dirty || keywordc.touched)) " class="alert">
                        <span style="color:red">Please enter a keyword</span>
                    </div>
          </div>
      </div>

      <div class="form-group row justify-content-left">
          <label for="Category" class="control-label col-sm-2 offset-sm-2">Category</label>
          <div class="col-sm-2">
              <select name="category" class="form-control" id="Category" [(ngModel)]="category" >
                  <option value="All" selected>All</option>
                  <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
                  <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
                  <option value="KZFzniwnSyZfZ7v7na">Arts & Theatre</option>
                  <option value="KZFzniwnSyZfZ7v7nn">Film</option>
                  <option value="KZFzniwnSyZfZ7v7nl">Miscellaneous</option>
              </select>
          </div>
      </div>

      <div class="form-group row justify-content-left">
          <label for="Distance" class="control-label col-sm-2 offset-sm-2">Distance</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="Distance" placeholder="10" name="distance" [(ngModel)]="distance">
          </div>
          <div class="col-sm-2">
              <select [(ngModel)]="units" class="form-control" name="units">
                  <option value="miles" selected>Miles</option>
                  <option value="kilometers">Kilometers</option>
              </select>
          </div>
      </div>
      <div class="form-group row justify-content-left required">
          <label for="current_location" class="control-label col-sm-2 offset-sm-2">From</label>
          <div class="col-sm-6">
              <input #loc="ngModel" type="radio" name="location" id="current_location" value="curloc" [(ngModel)]="location" checked />
              <label for="current_location">
                  Current Location</label>
              <br>
              <input #loc="ngModel" type="radio" name="location" id="other_location" value="othloc" [(ngModel)]="location"/>

              <label for="other_location">
                  Others, Please specify:</label>
              <div class="col-md-30">
                  <input #locoth="ngModel"type="text" class="form-control" placeholder="Enter a location" id="location2" required name="location2" [(ngModel)]="location2" [disabled]="loc==undefined||loc.value=='curloc'" />
                  <div *ngIf="locoth.invalid && (locoth.dirty || locoth.touched) &&(location=='othloc')" class="alert">
                    <span style="color:red">Please enter a location</span>
                </div>
              </div>
          </div>
      </div>


      <div class="form-group row">
          <div class="control-label offset-sm-2 mb-4">
              <button type="submit" class="btn btn-primary"
              [disabled]="keyword=='' || (loc.value=='othloc' && (location2.length<1) )">
                  <i class="material-icons">search</i>
                  Search</button>
              <button type="reset" class="btn btn-default" (click)="onReset(ticketForm)">
                  <i class="material-icons">clear_all</i>Clear</button>
          </div>
      </div>
  </form>
</div>


  <div class="row mx-auto">
    <div class="col-md-auto mx-auto">
      <button class="btn btn-primary" (click)="redis=true; favdis=false">Results</button>
      <button class="btn btn-default" (click)="redis=false;favdis=true"><span style="color: blue;">Favourites</span></button>
    </div>
  </div>

<div class="container" *ngIf="redis">
  Results
  <div id="display" *ngIf="display">
    <!--<div class="progress mt-5" (show)="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width:50%"></div> -->
      <app-details-c [eventD]="details"></app-details-c>
    </div>
  <div id="no-display" *ngIf="nodisplay">No Records found</div>
</div>
<div class="container" *ngIf="!redis">
  Favourites
</div>

