
.posrel{
    position: relative;

}

.popval {
    left: 10px;
    top: 20%;
    position: absolute;
    width: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

agm-map { height: 300px; width: auto;}